<a href="https://colab.research.google.com/github/aayushbhurtel/MachineLearning/blob/main/AayushBhurtel_inClassAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas data structure

In [682]:
import pandas as pd
import numpy as np

In [683]:
obj = pd.Series([10, 8, -15, 19])
obj

0    10
1     8
2   -15
3    19
dtype: int64

In [684]:
obj.values

array([ 10,   8, -15,  19])

In [685]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [686]:
obj2 = pd.Series([10, 8, -15, 19], index=['a', 'y', 'u','s'])
obj2

a    10
y     8
u   -15
s    19
dtype: int64

In [687]:
obj2.index

Index(['a', 'y', 'u', 's'], dtype='object')

you can use labels in the index when selecting single values or a set of values

In [688]:
obj2['a']

10

In [689]:
obj2['u'] = 6

In [690]:
obj2[['s', 'a', 'u']]

s    19
a    10
u     6
dtype: int64

operation with boolean array

In [691]:
obj2[obj2 > 0]

a    10
y     8
u     6
s    19
dtype: int64

mathematics operations

In [692]:
obj2 * 2

a    20
y    16
u    12
s    38
dtype: int64

In [693]:
 np.exp(obj2)

a    2.202647e+04
y    2.980958e+03
u    4.034288e+02
s    1.784823e+08
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values. It can be used in many contexts where you might use a dict

In [694]:
'b' in obj2

False

In [695]:
'h' in obj2

False

passing python dic into a pandas series

In [696]:
sdata = {'Ohio': 65000, 'Texas': 21000, 'Oregon': 2000, 'Utah': 160000}
obj3 = pd.Series(sdata)
obj3

Ohio       65000
Texas      21000
Oregon      2000
Utah      160000
dtype: int64

When you are only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order. You can override this by passing the dict keys in the order you want them to appear in the resulting Series

In [697]:
states = ['New York', 'Florida', 'Missouri', 'Wisconsin']
obj4 = pd.Series(sdata, index=states)
obj4

New York    NaN
Florida     NaN
Missouri    NaN
Wisconsin   NaN
dtype: float64

In [698]:
pd.isnull(obj4)

New York     True
Florida      True
Missouri     True
Wisconsin    True
dtype: bool

In [699]:
pd.notnull(obj4)

New York     False
Florida      False
Missouri     False
Wisconsin    False
dtype: bool

Series also has these as instance methods:

In [700]:
obj4.isnull()

New York     True
Florida      True
Missouri     True
Wisconsin    True
dtype: bool

In [701]:
obj4

New York    NaN
Florida     NaN
Missouri    NaN
Wisconsin   NaN
dtype: float64

Both the Series object itself and its index have a name attribute, which integrates with other key areas of pandas functionality:

In [702]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
New York    NaN
Florida     NaN
Missouri    NaN
Wisconsin   NaN
Name: population, dtype: float64

In [703]:
obj

0    10
1     8
2   -15
3    19
dtype: int64

In [704]:
obj.index = ['Janice', 'Alex', 'James', 'Peter']
obj

Janice    10
Alex       8
James    -15
Peter     19
dtype: int64

DataFrame

There are many ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists or NumPy arrays:

In [705]:
data = {'state': ['Texas', 'Texas', 'Texas', 'California', 'California', 'California'],
        'year': [2015, 2015, 2016, 2015, 2016, 2017],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

        state  year  pop
0       Texas  2015  1.5
1       Texas  2015  1.7
2       Texas  2016  3.6
3  California  2015  2.4
4  California  2016  2.9
5  California  2017  3.2

For large DataFrames, the head method selects only the first five rows:

In [706]:
frame.head()

        state  year  pop
0       Texas  2015  1.5
1       Texas  2015  1.7
2       Texas  2016  3.6
3  California  2015  2.4
4  California  2016  2.9

If you specify a sequence of columns, the DataFrame’s columns will be arranged in that order:

In [707]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year       state  pop
0  2015       Texas  1.5
1  2015       Texas  1.7
2  2016       Texas  3.6
3  2015  California  2.4
4  2016  California  2.9
5  2017  California  3.2

If you pass a column that isn’t contained in the dict, it will appear with missing values in the result:

In [708]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],index=['1', '2', '3', '4','5', '6'])
frame2

   year       state  pop debt
1  2015       Texas  1.5  NaN
2  2015       Texas  1.7  NaN
3  2016       Texas  3.6  NaN
4  2015  California  2.4  NaN
5  2016  California  2.9  NaN
6  2017  California  3.2  NaN

In [709]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [710]:
frame2['state']

1         Texas
2         Texas
3         Texas
4    California
5    California
6    California
Name: state, dtype: object

In [711]:
frame2.year

1    2015
2    2015
3    2016
4    2015
5    2016
6    2017
Name: year, dtype: int64

Rows can also be retrieved by position or name with the special loc attribute.

In [712]:
frame2.loc['3']

year      2016
state    Texas
pop        3.6
debt       NaN
Name: 3, dtype: object

Columns can be modified by assignment. For example, the empty ‘debt’ column could be assigned a scalar value or an array of values:

In [713]:
frame2['debt'] = 16.5
frame2

   year       state  pop  debt
1  2015       Texas  1.5  16.5
2  2015       Texas  1.7  16.5
3  2016       Texas  3.6  16.5
4  2015  California  2.4  16.5
5  2016  California  2.9  16.5
6  2017  California  3.2  16.5

In [714]:
frame2['debt'] = np.arange(6.)
frame2

   year       state  pop  debt
1  2015       Texas  1.5   0.0
2  2015       Texas  1.7   1.0
3  2016       Texas  3.6   2.0
4  2015  California  2.4   3.0
5  2016  California  2.9   4.0
6  2017  California  3.2   5.0

When you are assigning lists or arrays to a column, the value’s length must match the length of the DataFrame. If you assign a Series, its labels will be realigned exactly to the DataFrame’s index, inserting missing values in any holes:

In [715]:
 val = pd.Series([-1.2, -1.5, -1.7], index=['2', '4', '5'])
 frame2['debt'] = val
 frame2

   year       state  pop  debt
1  2015       Texas  1.5   NaN
2  2015       Texas  1.7  -1.2
3  2016       Texas  3.6   NaN
4  2015  California  2.4  -1.5
5  2016  California  2.9  -1.7
6  2017  California  3.2   NaN

In [716]:
frame2['East'] = frame2.state == 'Ohio'
frame2

   year       state  pop  debt   East
1  2015       Texas  1.5   NaN  False
2  2015       Texas  1.7  -1.2  False
3  2016       Texas  3.6   NaN  False
4  2015  California  2.4  -1.5  False
5  2016  California  2.9  -1.7  False
6  2017  California  3.2   NaN  False

The del method can then be used to remove this column:

In [717]:
del frame2['East']
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

Another common form of data is a nested dict of dicts:

In [718]:
 pop = {'Texas': {2001: 2.4, 2002: 2.9},
        'California': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

If the nested dict is passed to the DataFrame, pandas will interpret the outer dict keys as the columns and the inner keys as the row indices:

In [719]:
frame3 = pd.DataFrame(pop)
frame3

      Texas  California
2001    2.4         1.7
2002    2.9         3.6
2000    NaN         1.5

You can transpose the DataFrame (swap rows and columns) with similar syntax to a NumPy array

In [720]:
frame3.T

            2001  2002  2000
Texas        2.4   2.9   NaN
California   1.7   3.6   1.5

The keys in the inner dicts are combined and sorted to form the index in the result. This isn’t true if an explicit index is specified:

In [721]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

      Texas  California
2001    2.4         1.7
2002    2.9         3.6
2003    NaN         NaN

Dicts of Series are treated in much the same way:

In [722]:
pdata = {'Texas': frame3['Texas'][:-1],
                  'California': frame3['Texas'][:2]}
pd.DataFrame(pdata)

      Texas  California
2001    2.4         2.4
2002    2.9         2.9

If a DataFrame’s index and columns have their name attributes set, these will also be displayed:

In [723]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

In [724]:
frame3

state  Texas  California
year
2001     2.4         1.7
2002     2.9         3.6
2000     NaN         1.5

As with Series, the values attribute returns the data contained in the DataFrame as a two-dimensional ndarray:

In [725]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

If the DataFrame’s columns are different dtypes, the dtype of the values array will be chosen to accommodate all of the columns:

In [726]:
frame2.values

array([[2015, 'Texas', 1.5, nan],
       [2015, 'Texas', 1.7, -1.2],
       [2016, 'Texas', 3.6, nan],
       [2015, 'California', 2.4, -1.5],
       [2016, 'California', 2.9, -1.7],
       [2017, 'California', 3.2, nan]], dtype=object)

Index objects

In [727]:
obj = pd.Series(range(3), index=['a', 'y', 'u'])
index = obj.index
index

Index(['a', 'y', 'u'], dtype='object')

In [728]:
index[1:]

Index(['y', 'u'], dtype='object')

Index objects are immutable and thus can’t be modified by the user:

Immutability makes it safer to share Index objects among data structures:

In [729]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [730]:
obj2 = pd.Series([10.6, -6.5, 20], index=labels)
obj2

0    10.6
1    -6.5
2    20.0
dtype: float64

In [731]:
obj2.index is labels

True

In addition to being array-like, an Index also behaves like a fixed-size set:

In [732]:
frame3

state  Texas  California
year
2001     2.4         1.7
2002     2.9         3.6
2000     NaN         1.5

In [733]:
frame3.columns

Index(['Texas', 'California'], dtype='object', name='state')

In [734]:
'Ohio' in frame3.columns

False

In [735]:
2003 in frame3.index

False

In [736]:
dup_labels = pd.Index(['one', 'two', 'three', 'four'])
dup_labels

Index(['one', 'two', 'three', 'four'], dtype='object')

In [737]:
############## Reindexing #############################

create a new object with the data conformed to a new index.

In [738]:
obj = pd.Series([3.6, 2.1, 8.9, -2.1], index=['a', 'y', 'u', 's'])
obj

a    3.6
y    2.1
u    8.9
s   -2.1
dtype: float64

Calling reindex on this Series rearranges the data according to the new index, introducing missing values if any index values were not already present:

In [739]:
obj2 = obj.reindex(['1', '2', '3', '4', '5'])

In [740]:
obj2

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling of values when reindexing. The method option allows us to do this, using a method such as ffill, which forward-fills the values:

In [741]:
obj3 = pd.Series(['Brown', 'Black', 'White'], index=[1, 5, 9])
obj3

1    Brown
5    Black
9    White
dtype: object

In [742]:
obj3.reindex(range(9), method='ffill')

0      NaN
1    Brown
2    Brown
3    Brown
4    Brown
5    Black
6    Black
7    Black
8    Black
dtype: object

With DataFrame, reindex can alter either the (row) index, columns, or both. When passed only a sequence, it reindexes the rows in the result:

In [743]:
frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                  index=['a', 'c', 'd','e'],
                  columns=['New York', 'Alabama', 'Wisconsin', 'Virginia'])
frame

   New York  Alabama  Wisconsin  Virginia
a         0        1          2         3
c         4        5          6         7
d         8        9         10        11
e        12       13         14        15

In [744]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   New York  Alabama  Wisconsin  Virginia
a       0.0      1.0        2.0       3.0
b       NaN      NaN        NaN       NaN
c       4.0      5.0        6.0       7.0
d       8.0      9.0       10.0      11.0

The columns can be reindexed with the columns keyword:

In [745]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a    NaN   NaN         NaN
c    NaN   NaN         NaN
d    NaN   NaN         NaN
e    NaN   NaN         NaN

dropping entries from an axis

In [746]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [747]:
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [748]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

With DataFrame, index values can be deleted from either axis. To illustrate this, we first create an example DataFrame:

In [749]:
Ddata = pd.DataFrame(np.arange(16).reshape((4, 4)),
                 index=['New York', 'Missouri', 'Virginia', 'Florida'],
                 columns=['1', '2', '3', '4'])

In [750]:
Ddata

           1   2   3   4
New York   0   1   2   3
Missouri   4   5   6   7
Virginia   8   9  10  11
Florida   12  13  14  15

In [751]:
Ddata.drop(['Florida', 'Virginia'])

          1  2  3  4
New York  0  1  2  3
Missouri  4  5  6  7

You can drop values from the columns by passing axis=1 or axis=’columns’:

In [752]:
Ddata.drop('2', axis=1)

           1   3   4
New York   0   2   3
Missouri   4   6   7
Virginia   8  10  11
Florida   12  14  15

In [753]:
Ddata.drop(['2', '4'], axis='columns')

           1   3
New York   0   2
Missouri   4   6
Virginia   8  10
Florida   12  14

Indexing, Selection, and Filtering

In [754]:
obj = pd.Series(np.arange(4.), index=['one', 'two', 'three', 'four'])
obj

one      0.0
two      1.0
three    2.0
four     3.0
dtype: float64

In [755]:
obj['two']

1.0

In [756]:
obj[1]

1.0

In [757]:
obj[2:4]

three    2.0
four     3.0
dtype: float64

In [758]:
obj[['two', 'one', 'four']]

two     1.0
one     0.0
four    3.0
dtype: float64

In [759]:
obj[[1, 3]]

two     1.0
four    3.0
dtype: float64

In [760]:
obj[obj < 2]

one    0.0
two    1.0
dtype: float64

Slicing with labels behaves differently than normal Python slicing in that the endpoint is inclusive:

In [761]:
obj['two':'three']

two      1.0
three    2.0
dtype: float64

Setting using these methods modifies the corresponding section of the Series:

In [762]:
obj['two':'three'] = 5
obj

one      0.0
two      5.0
three    5.0
four     3.0
dtype: float64

Indexing into a DataFrame is for retrieving one or more columns either with a single value or sequence:

In [763]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
              index=['Alabama', 'Missouri', 'Wisconsin', 'California'],
              columns=['a', 'b', 'c', 'd'])
data

             a   b   c   d
Alabama      0   1   2   3
Missouri     4   5   6   7
Wisconsin    8   9  10  11
California  12  13  14  15

In [764]:
data['b']

Alabama        1
Missouri       5
Wisconsin      9
California    13
Name: b, dtype: int64

In [765]:
data[['c', 'a']]

             c   a
Alabama      2   0
Missouri     6   4
Wisconsin   10   8
California  14  12

Indexing like this has a few special cases. First, slicing or selecting data with a boolean array:

In [766]:
data[:2]

          a  b  c  d
Alabama   0  1  2  3
Missouri  4  5  6  7

In [767]:
data[data['c'] > 5]

             a   b   c   d
Missouri     4   5   6   7
Wisconsin    8   9  10  11
California  12  13  14  15

Another use case is in indexing with a boolean DataFrame, such as one produced by a scalar comparison:

In [768]:
data < 5

                a      b      c      d
Alabama      True   True   True   True
Missouri     True  False  False  False
Wisconsin   False  False  False  False
California  False  False  False  False

In [769]:
data[data <5] = 0
data

             a   b   c   d
Alabama      0   0   0   0
Missouri     0   5   6   7
Wisconsin    8   9  10  11
California  12  13  14  15

Selection with loc and iloc

In [770]:
data.loc['Alabama', ['b', 'c']]

b    0
c    0
Name: Alabama, dtype: int64

In [771]:
data.iloc[2, [3, 0, 1]]

d    11
a     8
b     9
Name: Wisconsin, dtype: int64

In [772]:
data.iloc[2]

a     8
b     9
c    10
d    11
Name: Wisconsin, dtype: int64

In [773]:
data.iloc[[1, 2], [3, 0, 1]]

            d  a  b
Missouri    7  0  5
Wisconsin  11  8  9

Both indexing functions work with slices in addition to single labels or lists of labels:

In [774]:
data.loc[:'Wisconsin', 'b']

Alabama      0
Missouri     5
Wisconsin    9
Name: b, dtype: int64

In [775]:
data.iloc[:, :3][data.c > 5]

             a   b   c
Missouri     0   5   6
Wisconsin    8   9  10
California  12  13  14

integer Indexes

In [776]:
ser = pd.Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [777]:
ser2 = pd.Series(np.arange(3.), index=['x', 'y', 'z'])
ser2[-1]

2.0

In [778]:
ser[:1]

0    0.0
dtype: float64

In [779]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [780]:
ser.iloc[:1]

0    0.0
dtype: float64

Arithmetic and Data Alignment

In [781]:
s1 = pd.Series([1.3, -5.5, 10.8, 3.8], index=['w', 'x', 'y', 'z'])
s2 = pd.Series([11, 15.9, 9, -34, -20],
                   index=['p', 'q', 'r', 's', 't'])

In [782]:
s1

w     1.3
x    -5.5
y    10.8
z     3.8
dtype: float64

In [783]:
s2

p    11.0
q    15.9
r     9.0
s   -34.0
t   -20.0
dtype: float64

In [784]:
s1 + s2

p   NaN
q   NaN
r   NaN
s   NaN
t   NaN
w   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [785]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('xyz'),
                      index=['Virginia', 'Washingtin DC', 'Arizona'])
df1

                 x    y    z
Virginia       0.0  1.0  2.0
Washingtin DC  3.0  4.0  5.0
Arizona        6.0  7.0  8.0

In [786]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('pqr'),
                       index=['Florida', 'Lousiana', 'North Carolina', 'South Carolina'])
df2

                  p     q     r
Florida         0.0   1.0   2.0
Lousiana        3.0   4.0   5.0
North Carolina  6.0   7.0   8.0
South Carolina  9.0  10.0  11.0

Adding these together returns a DataFrame whose index and columns are the unions of the ones in each DataFrame:

In [787]:
df1 + df2

                 p   q   r   x   y   z
Arizona        NaN NaN NaN NaN NaN NaN
Florida        NaN NaN NaN NaN NaN NaN
Lousiana       NaN NaN NaN NaN NaN NaN
North Carolina NaN NaN NaN NaN NaN NaN
South Carolina NaN NaN NaN NaN NaN NaN
Virginia       NaN NaN NaN NaN NaN NaN
Washingtin DC  NaN NaN NaN NaN NaN NaN

If you add DataFrame objects with no column or row labels in common, the result will contain all nulls:

In [788]:
df1 = pd.DataFrame({'X': [5, 6]})
df2 = pd.DataFrame({'Y': [10, 9]})

In [789]:
df1

   X
0  5
1  6

In [790]:
df2

    Y
0  10
1   9

In [791]:
df1 - df2

    X   Y
0 NaN NaN
1 NaN NaN

Arithmetic methods with fill values

In [792]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                      columns=list('pqrs'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                      columns=list('pqrst'))
df2.loc[1, 'b'] = np.nan

In [793]:
df1

     p    q     r     s
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [794]:
df2

      p     q     r     s     t   b
0   0.0   1.0   2.0   3.0   4.0 NaN
1   5.0   6.0   7.0   8.0   9.0 NaN
2  10.0  11.0  12.0  13.0  14.0 NaN
3  15.0  16.0  17.0  18.0  19.0 NaN

In [795]:
df1 + df2

    b     p     q     r     s   t
0 NaN   0.0   2.0   4.0   6.0 NaN
1 NaN   9.0  11.0  13.0  15.0 NaN
2 NaN  18.0  20.0  22.0  24.0 NaN
3 NaN   NaN   NaN   NaN   NaN NaN

In [796]:
df1.add(df2, fill_value=0)

    b     p     q     r     s     t
0 NaN   0.0   2.0   4.0   6.0   4.0
1 NaN   9.0  11.0  13.0  15.0   9.0
2 NaN  18.0  20.0  22.0  24.0  14.0
3 NaN  15.0  16.0  17.0  18.0  19.0

#Correlation and Covariance
Some summary statistics, like correlation and covariance, are computed from pairs of
arguments. Let’s consider some DataFrames of stock prices and volumes obtained from
Yahoo! Finance:

In [797]:
# install yahoo finance 
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)

In [798]:
import yfinance as yf
from pandas_datareader import data as pdr

In [799]:
yf.pdr_override() # override yahoo finance data for custom use

all_data = {} 
for ticker in ['SPY', 'MET', 'NFLX', 'AMZN']:
  all_data[ticker] = pdr.get_data_yahoo(ticker, '2000-01-01', '2010-01-01')

price = pd.DataFrame({tic: data['Adj Close']
  for tic, data in all_data.items()})
volume = pd.DataFrame({tic: data['Volume']
  for tic, data in all_data.items()})
returns = price.pct_change()
returns.tail()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 SPY       MET      NFLX      AMZN
Date
2009-12-24  0.004734 -0.003099  0.000704 -0.003383
2009-12-28  0.002134 -0.008477  0.007910  0.006066
2009-12-29 -0.001420  0.005129 -0.006278  0.000718
2009-12-30 -0.000355  0.005104 -0.023693 -0.020945
2009-12-31 -0.009598 -0.002821 -0.009707 -0.014433

The corr method of Series computes the correlation of the overlapping, non-NA,
aligned-by-index values in two Series. Relatedly, cov computes the covariance

In [800]:
returns.SPY.corr(returns.MET)

0.6120891243631873

In [801]:
returns.NFLX.cov(returns.AMZN)

0.00037229268468962095

DataFrame’s corr and cov methods, on the other hand, return a full correlation or
covariance matrix as a DataFrame, respectively:

In [802]:
returns.corr()

           SPY       MET      NFLX      AMZN
SPY   1.000000  0.612089  0.320491  0.445724
MET   0.612089  1.000000  0.201886  0.249048
NFLX  0.320491  0.201886  1.000000  0.290483
AMZN  0.445724  0.249048  0.290483  1.000000

In [803]:
returns.cov()

           SPY       MET      NFLX      AMZN
SPY   0.000200  0.000270  0.000185  0.000266
MET   0.000270  0.000983  0.000274  0.000326
NFLX  0.000185  0.000274  0.001672  0.000372
AMZN  0.000266  0.000326  0.000372  0.001781

Using DataFrame’s corrwith method, you can compute pairwise correlations between
a DataFrame’s columns or rows with another Series or DataFrame. Passing a Series
returns a Series with the correlation value computed for each column:

In [804]:
returns.corrwith(returns.AMZN)

SPY     0.445724
MET     0.249048
NFLX    0.290483
AMZN    1.000000
dtype: float64

In [805]:
# with volume
returns.corrwith(volume)

SPY    -0.045297
MET     0.040558
NFLX   -0.062889
AMZN    0.169262
dtype: float64

Another class of related methods extracts information about the values contained in a
one-dimensional Series. To illustrate these, consider this example:

In [806]:
obj = pd.Series(['p', 'q', 'r', 's', 't', 'p', 'q', 'p', 'r'])

In [807]:
uniques = obj.unique()
uniques

array(['p', 'q', 'r', 's', 't'], dtype=object)

In [808]:
obj.value_counts

<bound method IndexOpsMixin.value_counts of 0    p
1    q
2    r
3    s
4    t
5    p
6    q
7    p
8    r
dtype: object>

In [809]:
pd.value_counts(obj.values, sort=False)

p    3
q    2
r    2
s    1
t    1
dtype: int64

In [810]:
mask = obj.isin(['b', 'c'])
mask

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

Handling missin data

In [811]:
data = pd.Series(['Mango', 'Papaya', np.nan, 'Lyche'])
data

0     Mango
1    Papaya
2       NaN
3     Lyche
dtype: object

In [812]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

The built-in Python None value is also treated as NA in object arrays

In [813]:
data[0] = None
data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Filtering missing data

In [814]:
from numpy import nan as NA

In [815]:
data = pd.Series([5, NA, 8.9, NA, 100])
data

0      5.0
1      NaN
2      8.9
3      NaN
4    100.0
dtype: float64

In [816]:
data[data.notnull()]

0      5.0
2      8.9
4    100.0
dtype: float64

In [817]:
data.dropna()

0      5.0
2      8.9
4    100.0
dtype: float64

Filtering missing data

In [818]:
df = pd.DataFrame(np.random.randn(10, 30))

In [819]:
df.iloc[:8, 2] = NA
df.iloc[:3, 5] = NA

In [820]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-2.357120,-0.797989,NaN,0.944612,-0.660173,NaN,1.036880,0.663453,1.986295,-0.744000,...,0.070556,0.678784,-0.420618,-0.168234,1.360175,-0.041887,0.219237,0.282556,1.511104,0.517170
1,0.781871,0.060055,NaN,-1.657294,-0.016439,NaN,0.700146,1.753152,0.906945,-0.825662,...,1.655136,-1.948978,1.042960,-0.388795,0.599172,-0.061812,-0.350527,0.707332,-0.805759,2.184459
2,-0.699058,0.147841,NaN,0.368257,-0.373398,NaN,-0.804233,0.266766,0.937946,0.799787,...,1.645919,0.074397,0.171159,-0.467404,2.081353,1.352942,0.329980,-0.744181,0.481000,-0.002878
3,0.963067,-1.626647,NaN,0.728201,-0.333881,-0.141817,0.935196,1.021420,-2.227824,1.300934,...,-1.082236,0.825118,-0.442104,0.351870,0.229058,0.686946,1.049590,-0.192566,0.320139,0.065537
4,0.930682,-1.633469,NaN,-0.412176,0.477712,0.421857,1.304070,0.191571,-0.498644,0.132730,...,-0.566177,-0.854031,0.554432,-0.848411,-1.360518,-0.479238,-1.377705,0.170028,-0.490368,0.990555
5,-0.604354,-0.219559,NaN,1.303234,-1.614893,-0.705758,-0.127605,-1.855550,-0.899751,1.261396,...,0.036091,0.509670,0.524982,-0.013377,0.614533,-2.153903,1.195786,1.450244,-1.076449,0.043620
6,0.885026,0.259705,NaN,1.538556,0.366586,0.900114,-0.325124,-0.335738,-0.264742,0.368574,...,0.289597,-1.249314,-0.144438,0.500888,-0.272301,-2.137783,0.251695,-1.793244,-0.994288,-0.613915
7,-0.050500,-0.140477,NaN,-0.331865,0.382458,-0.807843,-2.139026,-0.356860,0.287189,0.024211,...,0.312325,-1.817374,-0.074648,-0.241106,0.550959,-0.928906,1.121824,-0.243772,0.301464,1.623334
8,-1.718523,-0.651319,1.659780,0.131839,-0.681224,1.453585,0.824149,-0.278739,1.020664,-1.800617,...,-1.021397,-0.312817,-1.404225,1.427037,-1.671224,0.354308,-0.633274,-0.543848,-0.943733,0.623975
9,2.306937,0.287214,0.570638,1.094497,-0.407244,1.227696,-0.909692,0.415808,1.721079,0.509809,...,-0.659363,0.049632,-0.061529,0.145811,0.388628,-0.714452,1.215688,1.092390,0.849605,0.380428

In [821]:
df.fillna(0)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-2.357120,-0.797989,0.000000,0.944612,-0.660173,0.000000,1.036880,0.663453,1.986295,-0.744000,...,0.070556,0.678784,-0.420618,-0.168234,1.360175,-0.041887,0.219237,0.282556,1.511104,0.517170
1,0.781871,0.060055,0.000000,-1.657294,-0.016439,0.000000,0.700146,1.753152,0.906945,-0.825662,...,1.655136,-1.948978,1.042960,-0.388795,0.599172,-0.061812,-0.350527,0.707332,-0.805759,2.184459
2,-0.699058,0.147841,0.000000,0.368257,-0.373398,0.000000,-0.804233,0.266766,0.937946,0.799787,...,1.645919,0.074397,0.171159,-0.467404,2.081353,1.352942,0.329980,-0.744181,0.481000,-0.002878
3,0.963067,-1.626647,0.000000,0.728201,-0.333881,-0.141817,0.935196,1.021420,-2.227824,1.300934,...,-1.082236,0.825118,-0.442104,0.351870,0.229058,0.686946,1.049590,-0.192566,0.320139,0.065537
4,0.930682,-1.633469,0.000000,-0.412176,0.477712,0.421857,1.304070,0.191571,-0.498644,0.132730,...,-0.566177,-0.854031,0.554432,-0.848411,-1.360518,-0.479238,-1.377705,0.170028,-0.490368,0.990555
5,-0.604354,-0.219559,0.000000,1.303234,-1.614893,-0.705758,-0.127605,-1.855550,-0.899751,1.261396,...,0.036091,0.509670,0.524982,-0.013377,0.614533,-2.153903,1.195786,1.450244,-1.076449,0.043620
6,0.885026,0.259705,0.000000,1.538556,0.366586,0.900114,-0.325124,-0.335738,-0.264742,0.368574,...,0.289597,-1.249314,-0.144438,0.500888,-0.272301,-2.137783,0.251695,-1.793244,-0.994288,-0.613915
7,-0.050500,-0.140477,0.000000,-0.331865,0.382458,-0.807843,-2.139026,-0.356860,0.287189,0.024211,...,0.312325,-1.817374,-0.074648,-0.241106,0.550959,-0.928906,1.121824,-0.243772,0.301464,1.623334
8,-1.718523,-0.651319,1.659780,0.131839,-0.681224,1.453585,0.824149,-0.278739,1.020664,-1.800617,...,-1.021397,-0.312817,-1.404225,1.427037,-1.671224,0.354308,-0.633274,-0.543848,-0.943733,0.623975
9,2.306937,0.287214,0.570638,1.094497,-0.407244,1.227696,-0.909692,0.415808,1.721079,0.509809,...,-0.659363,0.049632,-0.061529,0.145811,0.388628,-0.714452,1.215688,1.092390,0.849605,0.380428

In [822]:
#Calling fillna with a dict you can use a different fill value for each column:
df.fillna({1: 0.5, 3: -1})

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-2.357120,-0.797989,NaN,0.944612,-0.660173,NaN,1.036880,0.663453,1.986295,-0.744000,...,0.070556,0.678784,-0.420618,-0.168234,1.360175,-0.041887,0.219237,0.282556,1.511104,0.517170
1,0.781871,0.060055,NaN,-1.657294,-0.016439,NaN,0.700146,1.753152,0.906945,-0.825662,...,1.655136,-1.948978,1.042960,-0.388795,0.599172,-0.061812,-0.350527,0.707332,-0.805759,2.184459
2,-0.699058,0.147841,NaN,0.368257,-0.373398,NaN,-0.804233,0.266766,0.937946,0.799787,...,1.645919,0.074397,0.171159,-0.467404,2.081353,1.352942,0.329980,-0.744181,0.481000,-0.002878
3,0.963067,-1.626647,NaN,0.728201,-0.333881,-0.141817,0.935196,1.021420,-2.227824,1.300934,...,-1.082236,0.825118,-0.442104,0.351870,0.229058,0.686946,1.049590,-0.192566,0.320139,0.065537
4,0.930682,-1.633469,NaN,-0.412176,0.477712,0.421857,1.304070,0.191571,-0.498644,0.132730,...,-0.566177,-0.854031,0.554432,-0.848411,-1.360518,-0.479238,-1.377705,0.170028,-0.490368,0.990555
5,-0.604354,-0.219559,NaN,1.303234,-1.614893,-0.705758,-0.127605,-1.855550,-0.899751,1.261396,...,0.036091,0.509670,0.524982,-0.013377,0.614533,-2.153903,1.195786,1.450244,-1.076449,0.043620
6,0.885026,0.259705,NaN,1.538556,0.366586,0.900114,-0.325124,-0.335738,-0.264742,0.368574,...,0.289597,-1.249314,-0.144438,0.500888,-0.272301,-2.137783,0.251695,-1.793244,-0.994288,-0.613915
7,-0.050500,-0.140477,NaN,-0.331865,0.382458,-0.807843,-2.139026,-0.356860,0.287189,0.024211,...,0.312325,-1.817374,-0.074648,-0.241106,0.550959,-0.928906,1.121824,-0.243772,0.301464,1.623334
8,-1.718523,-0.651319,1.659780,0.131839,-0.681224,1.453585,0.824149,-0.278739,1.020664,-1.800617,...,-1.021397,-0.312817,-1.404225,1.427037,-1.671224,0.354308,-0.633274,-0.543848,-0.943733,0.623975
9,2.306937,0.287214,0.570638,1.094497,-0.407244,1.227696,-0.909692,0.415808,1.721079,0.509809,...,-0.659363,0.049632,-0.061529,0.145811,0.388628,-0.714452,1.215688,1.092390,0.849605,0.380428

In [823]:
# always returns a reference to the filled object
df.fillna(0, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-2.357120,-0.797989,0.000000,0.944612,-0.660173,0.000000,1.036880,0.663453,1.986295,-0.744000,...,0.070556,0.678784,-0.420618,-0.168234,1.360175,-0.041887,0.219237,0.282556,1.511104,0.517170
1,0.781871,0.060055,0.000000,-1.657294,-0.016439,0.000000,0.700146,1.753152,0.906945,-0.825662,...,1.655136,-1.948978,1.042960,-0.388795,0.599172,-0.061812,-0.350527,0.707332,-0.805759,2.184459
2,-0.699058,0.147841,0.000000,0.368257,-0.373398,0.000000,-0.804233,0.266766,0.937946,0.799787,...,1.645919,0.074397,0.171159,-0.467404,2.081353,1.352942,0.329980,-0.744181,0.481000,-0.002878
3,0.963067,-1.626647,0.000000,0.728201,-0.333881,-0.141817,0.935196,1.021420,-2.227824,1.300934,...,-1.082236,0.825118,-0.442104,0.351870,0.229058,0.686946,1.049590,-0.192566,0.320139,0.065537
4,0.930682,-1.633469,0.000000,-0.412176,0.477712,0.421857,1.304070,0.191571,-0.498644,0.132730,...,-0.566177,-0.854031,0.554432,-0.848411,-1.360518,-0.479238,-1.377705,0.170028,-0.490368,0.990555
5,-0.604354,-0.219559,0.000000,1.303234,-1.614893,-0.705758,-0.127605,-1.855550,-0.899751,1.261396,...,0.036091,0.509670,0.524982,-0.013377,0.614533,-2.153903,1.195786,1.450244,-1.076449,0.043620
6,0.885026,0.259705,0.000000,1.538556,0.366586,0.900114,-0.325124,-0.335738,-0.264742,0.368574,...,0.289597,-1.249314,-0.144438,0.500888,-0.272301,-2.137783,0.251695,-1.793244,-0.994288,-0.613915
7,-0.050500,-0.140477,0.000000,-0.331865,0.382458,-0.807843,-2.139026,-0.356860,0.287189,0.024211,...,0.312325,-1.817374,-0.074648,-0.241106,0.550959,-0.928906,1.121824,-0.243772,0.301464,1.623334
8,-1.718523,-0.651319,1.659780,0.131839,-0.681224,1.453585,0.824149,-0.278739,1.020664,-1.800617,...,-1.021397,-0.312817,-1.404225,1.427037,-1.671224,0.354308,-0.633274,-0.543848,-0.943733,0.623975
9,2.306937,0.287214,0.570638,1.094497,-0.407244,1.227696,-0.909692,0.415808,1.721079,0.509809,...,-0.659363,0.049632,-0.061529,0.145811,0.388628,-0.714452,1.215688,1.092390,0.849605,0.380428